@tailwind base;
@tailwind components;
@tailwind utilities;


.addUI{
    background-color: rgba(0, 0, 0, 0.4);
}

.delUI{
    background-color: rgba(0, 0, 0, 0.4);
}

.cancelUI{
    display: none;
}
.removeBG{
    background-color: none;
}